@media only screen and (max-width: 450px){
    body{
        background: rgba(255, 255, 255, 0.973);
    }
    header{
        width: 380px;
        height: 100px;
    }
    .container{
        width: 380px;
        height: 100px;
    }
    .hamburger{
        margin-left: 190px;
    }
    .hero{
        width: 380px;
        
    }
    .herocontent{
        height: 380px;
        width: 220px;
        margin-left:0;
    }
    .top{
        margin-top: -45px;
        display: block;
        width: 100%;
    }
    section.hero h1{
        font-size: 26px;
        line-height:36.5px;
        margin-top: 20px;
    }
    .grey{
        font-size: 14px;
        margin-top: 25px;
    }
    .email{
        margin-top: -150px;
    }
    .join{
        height: 45px;
        width: 100%;
        margin-top: 10px;
        margin-left: 1px;
    }
    footer{
        width: 380px;
        height: 130px;
        padding-top: 40px;
        
    }
    .nospace{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        gap:5px;
    }
    .little{
        height: 37px;
        width: 37px;
    }

}