body{
    background: rgba(255, 255, 255, 0.973);
}
header{
    width: 1140px;
    height: 60px;
    background: #f5f8fd;
    padding: 5px 0; 
    margin: 0 auto;
}
.container{
    display: flex;
    width: 940px;
    height: 100%;
    background: #f5f8fd;
    margin: 0 auto;
}
#logos{
    width: 200px;
    height: 60px;
    background: #f5f8fd;
    float: left;
}
.logo{
    margin-top: 10px;
}
.hamburger{
    display: none;
}
nav{
    float: left;
    margin-left: 220px;
}
nav li{
    display: inline;
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(90, 90, 90);
}
.button{
    width: 120px;
    height: 30px;
    background: #352660;
    text-align: center;
    padding: 15px 5px 5px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    float: right;
    color: white;
    margin-top: 2px;
}
.hero{
    width: 1140px;
    height: 460px;
    padding: 5px 0;
    margin: 0 auto;
    background: #f5f8fd;
   

}
.herocontent{
    width: 600px;
    float: left;
    padding-top: 40px;
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
}
.top{
    width: 380px;
    background: #352660;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.712);
    font-weight: 400;
}
a{
    color: rgba(255, 255, 255, 0.712);
    font-weight: 300; 
}
span{
    font-weight: lighter;
}
section.hero h1{
    font-size: 44px;
    margin-bottom: -10px;
    letter-spacing:1.5px;
    word-spacing:1px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.grey{
    line-height:21.5px;
    word-spacing:1.5px;
    color: rgb(90, 90, 90);
}
.email{
    height: 44px;
    width: 270px;
    padding-left: 15px;
}
.join{
    height: 50px;
    width: 120px;
    background-color: #352660;
    color: white;
    border-radius: 5px;
    margin-left: 6px;
}
.heroimage{
    width: 300px;
    height: auto;
    float: right;
    margin: 10px 0 0 20px;
    padding-right: 50px;
}
footer{
    width: 1140px;
    height: 120px;
    background: #f5f8fd;
    margin: 0 auto;
    margin-top:-17px;
}
.by{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(60, 60, 60);
    padding-left: 100px;
}
.little{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.nospace{
    width: 450px;
    display: flex;
    padding-left: 100px;
    
}
@media only screen and (max-width: 710px){
    body{
        background: rgba(255, 255, 255, 0.973);
    }
    header{
        width: 560px;
        height: 60px;
        background: #f5f8fd;
        padding: 5px 0; 
        margin: 0 auto;
    }
    .container{
        display: flex;
        width: 560px;
        height: 100%;
        background: #f5f8fd;
        margin: 0 auto;
    }
    #logos{
        width: 100px;
        height: 30px;
        background: #f5f8fd;
        float: left;
    }
    .logo{
        margin-left: 60px;
        height: 30px;
        margin-top: 30px;
    }
    .hamburger{
        display: flex;
        width: 15px;
        height: 15px;
        margin-left: 370px;
        margin-top: 30px;
    }
    nav{
        display: none;
        float: left;
        margin-left: 220px;
    }
    nav li{
        display: inline;
        margin-right: 20px;
        font-weight: 400;
        font-size: 16px;
        color: rgb(90, 90, 90);
    }
    .button{
        display: none;
        width: 120px;
        height: 30px;
        background: #352660;
        text-align: center;
        padding: 15px 5px 5px;
        border: 1px solid rgb(150, 150, 150);
        border-radius: 5px;
        float: right;
        color: white;
        margin-top: 2px;
    }
    .hero{
        width: 560px;
        height: 460px;
        padding: 5px 0;
        margin: 0 auto;
        background: #f5f8fd;
    
    }
    .herocontent{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 400px;
        padding-top: 40px;
        padding-left: 100px;
    }
    .top{
        width: 320px;
        background: #352660;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
        color: rgba(255, 255, 255, 0.712);
        font-weight: 400;
        font-size: 14px;
        align-self: center;
        margin: 0 auto;
    }
    a{
        color: rgba(255, 255, 255, 0.712);
        font-weight: 300; 
    }
    span{
        font-weight: lighter;
    }
    section.hero h1{
        font-size: 34px;
        margin-bottom: -10px;
        letter-spacing:1.5px;
        word-spacing:1px;
        font-weight:lighter;
        opacity: 80%;
        font-family: 'Open Sans', sans-serif;
        line-height:45.5px;
    }
    .grey{
        font-size: 13px;
        line-height:19.5px;
        word-spacing:1.5px;
        color: rgb(90, 90, 90);
    }
    .email{
        height: 40px;
        width: 240px;
        padding-left: 15px;
        border: 1px solid #3642583b;
        border-radius: 5px;
        opacity: 60%;
    }
    .join{
        height: 45px;
        width: 115px;
        background-color: #352660;
        color: white;
        border-radius: 5px;
        margin-left: 6px;
        align-self: center;
    }
    form{
        margin-top: 30px;
    }
    .heroimage{
        display: none;
        width: 300px;
        height: auto;
        float: right;
        margin: 10px 0 0 20px;
        padding-right: 50px;
    }
    footer{
        width: 560px;
        height: 150px;
        background: #f5f8fd;
        margin: 0 auto;
        margin-top:-17px;
    }
    .by{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: rgb(60, 60, 60);
        padding-left: 100px;
    }
    .little{
        height: 38px;
        width: 38px;
        margin-right: 10px;
        opacity: 90%;
    }
    .nospace{
        align-content: center;
        width: 400px;
        display: flex;
        padding-left: 100px;
        
    }
}